
  
  .card {
    background: url("https://static4.arrow.com/-/media/arrow/images/820-x-410/1/1117_arduino_uno_overview_820.jpg") center;
    color: #ffffff;
    border-radius: 8px;
    padding: 0px 18px;
    width: 350px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
    cursor: pointer;
  }
  
  .card::before,
  .card::after
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    transition: transform .5s .25s ease-in;
  }

.card:hover {
  content: "";
  background: white;

}

  .card:hover::before {
    content: '';
    background: white;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
  }
  
  .card h2 {
    text-transform: capitalize;
  }
  
  .card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
  }
  
  .card-1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
  }
  
  .card-1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
  }
  
  .card-1::before {
    background: linear-gradient(90deg, #cf273d 0%, #3546f0 100%);
  }
  
  .card-2 {
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
  }
  
  .card-2:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
  }
  
  .card-2::before {
    background: linear-gradient(90deg, #3b6dd9 0%, rgba(0,212,255,1) 100%);
  }
  
  .card-3 {
    background-size: cover;
  }
  
  .card-3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #ff9500;
  }
  
  .card-3::before {
    background: linear-gradient(90deg, #b97920 0%, #706e47 100%);
  }
  
  .content {
    display: flex;
    justify-content: center;
    font-size: 70px;
  }


@media only screen and (max-width:700px) {
  .card {
    margin-bottom: 30px;
    width: 273px;
  }
  .card-1 {
    margin-top: 20px;
  }
}