
.App {
 background: url('https://images5.alphacoders.com/399/399632.jpg');

}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.div-transform {
  display: flex;
  transform: scale(1.1) translateX(50px);
  
}




@media only screen and (max-width:1000px)  {
  
  .div-transform {
    display: block;
    justify-content: center;
    align-items: center;
    transform: translateX(15px)
  }
 .container {
  height: 100%;
  width: 100%;

 }

  
}

