
.App {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);

}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.div-transform {
  display: flex;
  transform: scale(1.1) translateX(50px);
  
}


@media only screen and (max-width:700px)  {
  
  .div-transform {
    display: block;
    justify-content: center;
    align-items: center;
    transform: translateX(15px)
  }
 .container {
  height: 100%;
 }

  
}